{% extends 'base.jinja2' %}
{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="sixteen wide column">
          <p>{{ rol }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
