<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Submit - Last Minute RoL</title>
</head>
<body>
<h2>Submission</h2>
<p>Submitted RoLs are used to generate new, awesomer RoLs on Thursday mornings.</p>
<form action="/" method="post">
    <textarea id="rol" name="rol" cols=80 rows=20></textarea>
    <button type="submit">Submit</button>
</form>
</body>
</html>